@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
* {
    box-sizing:border-box;
}

.btn {
    height: 60px;
    width: 250px;
    background: rgb(255, 210, 200);
    margin: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 730;

}

.body {
    font-family: "Rubik Vinyl", system-ui;
    font-weight: 400;
}
