* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text {
    font-size: 50px;
    opacity: 1;
    color: white;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/loading.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(100px);
}
