@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    background: rgb(255, 240, 240);
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 80px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background: rgb(20, 20, 20);
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    width: 100%;

}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    list-style-type: none;
    transition: padding 0.3s ease
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: rgb(255, 240, 240);
    text-decoration: none;
    padding: 7px 15px;
}

.nav.active {
    background-color: rgb(255, 240, 240);
    box-shadow: 0 1px 9px;
}

.nav.active a {
    color: #000000;
}

.nav.active .container {
    padding: 2px 0px;
}
.nav a:hover {
    font-weight:bold;
    color: #c0392b;
}

.nav a.current {
    font-weight: bold;
    color: #c0392b;
}

.hero {
    background-image: url('../images/nav1.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: rgb(255, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    z-index: -2;
    background-size: cover;
    text-shadow: 1px 2px 5px black;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black;
    opacity: 0.2;
}

.hero h1 {
    font-size: 65px;
    margin: -20px 0px 20px;
    letter-spacing: 1px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}


.content h2 {
    font-size: 180%;
    margin: 20px 0px;
}

.content h3 {
    font-size: 180%;
    margin: 20px 0px;
}

.content p {
    color: #555555;
    font-size: 90%;
    line-height: 30px;
    letter-spacing: 0.5px;
}
