
* {
    box-sizing: border-box;
}
body {
    background: rgb(210, 230, 250);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
    background: white;
}

.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 5px;
    transition: width .5s ease;
}

.btn {
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform .5s ease;
}

.input:focus{
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(54px);
}
